@include for-size(phone) {
    .desktop-menus {
      display: none !important;
    }
    .mobile-menu {
        display: flex;
    }
    .mobile-menu-toggle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 120;
      span {
        display: block;
        width: 28px;
        height: 3px;
        margin: 4px 0;
        background: $white;
        border-radius: 2px;
        transition: 0.3s;
      }
      &.open span:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
      }
      &.open span:nth-child(2) {
        opacity: 0;
      }
      &.open span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
    .mobile-menu-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100vw;
      background: $grey-2;
      box-shadow: 0 8px 24px rgba(0,0,0,0.12);
      z-index: 110;
      flex-direction: column;
      padding: 0rem 0rem;
      .primary-menu, .secondary-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
        gap: 1rem;
        li {
          width: 100%;
          padding: 1rem 1rem 1rem 2.5rem;
          box-sizing: border-box;
          &.current-menu-item {
            background-color: $grey-3;
          }
        }
        a {
          width: 100%;
          font-size: 1.1rem;
          border-radius: 6px;
          text-align: left;
          text-decoration: none;
          color: $white;
          font-size: 1.2rem;
        }
      }
    }
    .mobile-menu-dropdown.open {
      display: flex;
    }

    .site-headline-inner {
        display: block;
        width: 80%;
    }
  }
  