.purple-button {
    .wp-block-button__link {
        &:hover {
            background-color: $purple-4 !important;
            box-shadow: 0 2px 4px $purple-1;
            transition: 0.3s ease-in-out;
        }
    }
}

.purple-button-outline {
    .wp-block-button__link {
        &:hover {
            color: $grey-1 !important;
            background-color: $grey-8 !important;
            box-shadow: 0 2px 4px $grey-4;
            transition: 0.3s ease-in-out;
        }
    }
}