$white: #FFFFFF;
$black: #000000;

// Purple shades
$purple-1: #703BF7;
$purple-2: #8254F8;
$purple-3: #946CF9;
$purple-4: #A685FA;
$purple-5: #DBCEFD;
$purple-6: #EDE7FE;
$purple-7: #F4F0FE;
$purple-8: #FBFAFF;

// White shades
$white-1: #E4E4E7;
$white-2: #F1F1F3;
$white-3: #F7F7F8;
$white-4: #FCFCFD;

// Grey shades
$grey-1: #141414;
$grey-2: #1A1A1A;
$grey-3: #262626;
$grey-4: #333333;
$grey-5: #4D4D4D;
$grey-6: #666666;
$grey-7: #808080;
$grey-8: #999999;
